body{
margin:0;
overflow:hidden;
}

.unSelectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.backButton {
    width: 1em;
    height: 1em;
    font-family: 'Archivo Black', serif;
    padding: 20px;
}

#sections {
    background-color: white;
    font-size: 14pt;
    text-align: center;
    font-family: 'Archivo Black', serif;

}

a {
    background-color: white;
    color: black;
}

a:link {
    text-decoration: none;
}

.hoverHighligher:hover {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: yellow; 
}

.hoverDown:hover {
    position: relative;
    top: 1px;
}

.innerText {
    font-family: 'Archivo Black', serif;
}

.mainTitle {
    font-family: 'Archivo Black', serif;
    font-size: 44pt;
    display: inline;
}

.centeredContact {
    text-align: center;
    font-family: 'Archivo Black', serif;
}

.centeredProjects {
    text-align: center;
    font-family: 'Archivo Black', serif;
}